doctype html
html(lang='en')

    head
        title Bridge
        script(src='//use.typekit.net/dcz8uda.js')
        script.
            try {
                Typekit.load();
            } catch (e) {}
        style @include ('example-styles')

    body
        .wrap-all
            .wrap-row
                .wrap-cell
                    block 'content'
