body, html, .wrap-all {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    background-color: #f4f4f4;
    font-family: 'aktiv-grotesk-std', Helvetica, sans-serif;
    font-size: 1.2em;
}
img {
    max-width: 10em;
    box-sizing: border-box;
    padding:0 1em;
    width:100%;
}
.wrap-all {
    display: table;
}
.wrap-row {
    display: table-row;
}
.wrap-cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
iframe {
    display: inline-block;
    margin: auto;
    width: 3.25em;
    padding-top: 0.2em;
    vertical-align: bottom;
}
.stack-trace {
    font-size: 0.5em;
    white-space: pre-wrap;
    text-align: left;
    max-width: 70em;
    margin: auto;
    background: #fbfbfb;
    padding:1em;
}